<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <button>
        <a href="/">Home</a>
    </button>
    <button>
        <a href="/about">About</a>
    </button>
    <button>
        <a href="/crud">CRUD</a>
    </button>
    <button>
        <a href="/read-crud">Read Users</a>
    </button>
    <h1>Đây là trang about</h1>
    <img src="https://nypost.com/wp-content/uploads/sites/2/2014/05/pandabearz.jpg?quality=75&strip=all" alt="">
</body>

</html>