<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <button>
        <a href="/">Home</a>
    </button>
    <button>
        <a href="/about">About</a>
    </button>
    <button>
        <a href="/crud">CRUD</a>
    </button>
    <button>
        <a href="/read-crud">Read Users</a>
    </button>
    <h1>Home page</h1>
    <img src="https://hips.hearstapps.com/hmg-prod/images/dog-puppy-on-garden-royalty-free-image-1586966191.jpg?crop=1xw:0.74975xh;center,top&resize=1200:*"
        alt="">
</body>

</html>